/* 중단점 */
@media (max-width: 1680px) {
    /* kv section */
    .kv-img {
        width: 50%
    }

    .kv-text h2 {
        font-size: 60px;
    }

    .kv-sub {
        font-size: 25px;
    }

    .kv-btn {
        width: 70%;
        font-size: 18px;
    }

    /* info section */
    .info-text h2 {
        font-size: 60px;
    }

    .info-text2 {
        margin-top: 50px;
    }

    .info-text2 h2 {
        font-size: 55px;
    }

    /* list section */
    .list-text h2 {
        font-size: 60px;
    }

    .list-text p {
        font-size: 55px;
    }

    .list {
        font-size: 28px;
    }

    /* review section */
    .review-text {
        /* padding-left: 0; */
    }

    /* map section */
    .map-container p {
        font-size: 28px;
    }

    /* ask section */
    .ask-name, .ask-tel, .ask-con {
        font-size: 28px;
    }

    .ask-btn {
        font-size: 28px;
    }
}
       
@media (max-width: 1280px) {
    /* kv section */
    .kv-content {
        /* flex-direction: column-reverse; */
    }

    .kv-text h2 {
        font-size: 50px;
    }

    /* .kv-img img {
        width: 506.88px;
        height: 517.12px;
    } */

    .kv-btn {
        width: 70%;
        height: 44px;
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 50px;
    }

    /* info section */
    .info-text h2 {
        font-size: 50px;
    }

    .info-text2 {
        margin-top: 30px;
    }    

    .info-text2 h2 {
        font-size: 45px;
    }

    /* list section */
    .list-text h2 {
        font-size: 45px;
    }

    .list-text p {
        font-size: 45px;
    }

    .list {
        font-size: 22px;
    }

    /* event section */
    .event-sub {
        font-size: 20px;
    }
    
    .event-text h2 {
    font-size: 45px;
    margin: 20px 0;
    }

    .event-date {
        font-size: 18px;
    }

    .event-card {
        padding: 48px;
    }

    .event-card img {
        width: 93.6px;
        height: 93.6px;
    }

    .event-text2 h2 {
        font-size: 25px;
    }

    .event-text2 p {
        font-size: 18px;
    }

    /* FAQ section */
    .faq-container h2 {
        font-size: 50px;
    }
    
    .faq-sub {
        font-size: 20px;
    }

    .question h3 {
        font-size: 20px;
    }

    .answer p {
        font-size: 18px;
    }

    /* riview section */
    .review-sub {
        font-size: 20px;
    }

    .review-text h2 {
        font-size: 45px;
    }

    .review-sub2 {
        font-size: 20px;
    }

    /* map section */
    .map-container h2 {
        font-size: 45px;
    }
    
    .map-container p {
        font-size: 20px;
    }

    /* ask section */
    .ask-container h2 {
        font-size: 45px;
    }

    .ask-name, .ask-tel, .ask-con {
        font-size: 20px;
    }

    .ask-name input {
        font-size: 18px;
    }

    .ask-tel input {
        font-size: 18px;
    }

    .ask-con textarea {
        font-size: 18px;
    }

    .ask-btn {
        font-size: 20px;
    }

    /* footer */
    .footer-con1 {
        font-size: 18px;
    }

    .footer-con2 {
        font-size: 16px;
    }

    .copy {
        font-size: 18px;
    }

    /* ask-menu */
    .ask-menu {
        width: 60px;
        height: 60px;
        right: 10px;
        bottom: 10px;
    }

    .ask-menu img {
        padding : 10px;
    }

}

@media (max-width: 1024px){
    /* common css */
    .bottom {
        margin-bottom: 10px;
    }

    /* kv section */
    .kv-text h2 {
        font-size: 50px;
    }

    .kv-sub p {
        font-size: 20px;
    }

    /* .kv-img img {
        width: 405.5px;
        height: 413.69px;
    } */

    .kv-btn {
        margin-top: 30px;
    }
    
    /* info section */
    .info-text h2 {
        font-size: 45px;
    }

    .info-text2 h2 {
        font-size: 45px;
    }

    /* list section */
    .list-text h2 {
        font-size: 45px;
    }

    .list-text p {
        font-size: 45px;
    }

    /* event section */
    .event-text h2 {
    font-size: 45px;
    }

    .event-date {
        font-size: 18px;
        width: 60%;
    }

    .event-card {
        padding: 40px 20px;
    }

    .event-card img {
        width: 74.88px;
        height: 74.88px;
    }

    .event-text2 h2 {
        font-size: 22px;
        margin-top: 10px;
    }

    .event-text2 p {
        margin-top: 10px;
    }

    /* FAQ section */
    .question h3 {
        font-size: 22px;
    }

    .toggle-btn {
        font-size: 25px;
    }

    .answer p {
        font-size: 18px;
    }

    /* review section */
    .left-pgnav svg {
        width: 45px;
    }

    .right-pgnav svg {
        width: 45px;
    }

    .swiper-slide p {
        font-size: 18px;
    }

    /* ask section */
    .ask-check {
        margin-top: 10px;
        font-size: 15px;
    }

    .ask-check input {
        margin-top: 10px;
    }

    .ask-btn {
        width: 30%;
    }
    
}

@media (max-width: 768px){
    .kv-content {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 20%;
    }

    .kv-sub p {
        font-size: 25px;
        margin-top: 20px;
    }

    .kv-btn {
        width: 100%;
        height: 100%;
        font-size: 25px;
        font-weight: 500;
        margin-top: 70px;
    }

    .kv-img {
        width: 70%;
    }

    /* .kv-img img {
        width: 460px;
        height: 460px;
    } */

    /* info section */
    .info-sec {
        padding: 20% 0;
        height: auto;
    }

    .info-text h2 {
        font-size: 40px;
    }

    .info-text2 h2 {
        font-size: 40px;
    }

    /* list section */
    .list-container {
        padding: 110px 50px;
    }

    .list-text h2 {
        font-size: 40px;
    }

    .list-text p {
        font-size: 40px;
    }

    .list {
        font-size: 20px;
    }

    .list-stlye {
        padding: 20px;
    }

    .number {
        font-size: 18px;
        padding: 2px 7px;
    }

    /* event section */
    .event-container {
        padding: 110px 50px;
    }

    .event-sub {
        font-size: 20px;
    }

    .event-text h2 {
    font-size: 40px;
    }

    .event-date {
        width: 80%;
    }
    
    .event-item {
        flex-wrap: wrap;
    }

    .event-card {
        width: calc((100% - 16px) / 2);
    }

    /* FAQ section */
    .faq-container {
        padding: 110px 50px;
    }

    .question {
        padding: 10px 20px;
    }

    .question h3 {
        font-size: 20px;
    }

    /* review section */
    .review-container {
        flex-direction: column;
        gap: 70px;
    }

    .review-text-wrap {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
    }

    .review-text {
        margin: 0;
    }

    .review-text h2 {
        font-size: 40px;
    }

    .review-sub2 {
        margin: 20px 0;
    }

    .review {
        padding: 110px 0 110px 50px;
    }

    .swiper {
        margin-right: 0;
        margin-left: 0;
    }

    .review::after {
        width: 100%;
        left: 150px;
    }

    /* map section */
    .map-sec {
        padding: 110px 50px;
    }

    .map-container h2 {
        font-size: 40px;
    }

    /* ask section */
    .ask-sec {
        padding: 110px 50px;
    }

    .ask-container h2 {
        font-size: 40px;
    }

    .ask-name, .ask-tel, .ask-con {
        font-size: 18px;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
    }

    .ask-name input {
        font-size: 15px;
        width: 100%;
        margin-top: 10px;
    }

    .ask-tel input {
        font-size: 15px;
        width: 100%;
        margin-top: 10px;
    }

    .ask-con textarea {
        font-size: 15px;
        width: 100%;
        margin-top: 10px;
    }
    .ask-left-empty {
        width: 0;
    }

    .ask-checkbox {
        width: 100%;
    }

    .ask-btn {
        font-size: 18px;
    }

    /* footer */
    .footer {
        padding: 40px 50px;
    }

    .footer-con1 {
        font-size: 16px;
    }

    .footer-con2 {
        font-size: 14px;
    }

    .copy {
        font-size: 16px;
    }

    /* footer */
    .footer-con2 {
       flex-wrap: wrap;
    }
}

@media (max-width: 540px){
    .kv-text h2 {
        font-size: 45px;
    }

    .kv-sub p {
        font-size: 20px;
    }

    .kv-btn {
        font-size: 20px;
    }

    /* .kv-img img {
        width: 368px;
        height: 368px;
    } */

    /* info section */
    .info-text h2 {
        font-size: 40px;
    }

    .info-text p {
        font-size: 15px;
    }

    .info-text2 h2 {
        font-size: 40px;
    }

    .info-text2 p {
        font-size: 20px;
        font-weight: 300;
        padding: 0 16px;
    }

    /* list section */
    .list-container {
        padding: 90px 16px;
    }

    .list-text {
        margin-bottom: 40px;
    }

    .list-text h2 {
        font-size: 40px;
    }

    .list-text p {
        font-size: 40px;
    }

    .list {
        font-size: 20px;
    }

    .list-stlye {
        padding: 15px;
    }

    .number {
        font-size: 12px;
        padding: 2px 5px;
    }

    /* event section */
    .event-container {
        padding: 90px 16px;
    }

    .event-sub {
        font-size: 18px;
    }

    .event-text h2 {
        font-size: 40px;
    }

    .event-date {
        /* font-size: 15px; */
        padding: 10px 10px;
    }

    .event-content {
        width: 80%;
        margin: 0 auto;
    }

    .event-item {
        margin-top: 40px;
    }

    .event-card {
        width: 100%;
    }

    .event-text2 h2 {
        /* font-size: 20px; */
    }

    .event-text2 p {
        /* font-size: 15px; */
    }

    /* FAQ section */
    .faq-container {
        padding: 90px 16px;
    }

    .faq-container h2 {
        font-size: 45px;
    }

    .faq-sub {
        margin-bottom: 40px;
    }

    .faq-sub {
        font-size: 18px;
    }

    .faq-item {
        border-radius: 20px;
    }

    .question {
        border-radius: 25px;
    }

    .question h3 {
        font-size: 18px;
    }

    .toggle-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
    }

    .answer p {
        font-size: 15px;
    }

    /* review section */
    .review-container {
        gap: 40px;
    }

    .review-text-wrap {
        padding-top: 0px;
    }

    .review-text {
        padding-left: 16px;
    }

    .review-text h2 {
        font-size: 40px;
    }

    .review-sub2 {
        margin: 20px 0;
    }

    .review {
        padding: 0 16px;
    }
    
    .review::after {
        display: none;
    }

    .review-slide {
        border-left: 1px solid var(--second-color);
        border-right: 1px solid var(--second-color);
    }

    /* map section */
    .map-sec {
        padding: 90px 16px;
    }

    .map-container h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .map-container p {
        font-size: 18px;
    }

    .map-sub {
    margin-bottom: 40px;
    }

    .map-api {
        height: 400px;
    }

    .map-info-title {
    margin-top: 40px;
    }

    /* ask section */
    .ask-sec {
        padding: 90px 16px;
    }

    .ask-container h2 {
        margin-bottom: 40px;
    }

    .ask-name {
        margin-bottom: 30px;
    }

    .ask-name input {
        padding: 15px;
    }

    .ask-tel {
        margin-bottom: 30px;
    }

    .ask-tel input {
        padding: 15px;
    }

    .ask-con textarea {
        height: 250px;
        padding: 15px;
    }

    .ask-btn {
        width: 40%;
        padding: 8px;
    }

    /* footer */
    .footer {
        padding: 40px 16px;
    }

    .ask-menu {
        width: 50px;
        height: 50px;
    }

    .ask-menu img {
    padding: 8px;
    }

}

@media (max-width: 414px){
    .kv-text h2 {
        font-size: 35px;
    }

    .kv-sub p{
        font-size: 15px;
    }

    .kv-btn {
        font-size: 15px;
        margin-bottom: 30px;
    }

    /* .kv-img img {
        width: 294.4px;
        height: 294.4px;
    } */

    /* info section */
    .info-text h2 {
        font-size: 25px;
    }

    .info-text p {
        font-size: 12px;
    }

    .info-text2 {
        margin-top: 20px;
    }

    .info-text2 h2 {
        font-size: 30px;
    }

    .info-text2 p {
        font-size: 18px;
    }

    /* list section */
    .list-container {
        padding: 90px 16px;
    }

    .list-text h2 {
        font-size: 30px;
    }

     .list-text {
        margin-bottom: 40px;
     }

    .list-text p {
        font-size: 30px;
    }

    .list {
        font-size: 18px;
    }

    .list-stlye {
        padding: 10px 10px;
    }

    /* event section */
    .event-text h2 {
        font-size: 30px;
        margin: 15px 0;
    }

    .event-item {
        margin-top: 40px;
    }

    /* FAQ section */
    .faq-container h2 {
        font-size: 38px;
    }

    .faq-sub {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .question h3 {
        font-size: 16px;
    }

    .faq-item {
        border-radius: 20px;
    }

    /* review section */
    .review-sub {
        font-size: 18px;
    }

    .review-text h2 {
        font-size: 30px;
    }

    .review-sub2 {
        font-size: 18px;
    }

    /* map section */
    .map-container h2 {
        font-size: 30px;
    }

    /* ask section */
    .ask-container h2 {
        font-size: 30px;
    }
}
